<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="UrlSonarQubeServer" value="http://localhost:9000/"/>
    <add key="DestinatariosFijos" value="freddylarag@gmail.com;freddylara@outlook.com" />
    <add key="DestinatariosError" value="freddylarag@gmail.com" />

    <!-- valores fijos -->
    <add key="UrlDashboard" value="/dashboard?did=1" />
    <add key="UrlApiResource" value="/api/resources" />
    <add key="UrlApiResourceParameters" value="?metrics=new_critical_violations%2Cnew_blocker_violations%2Cinfo_violations%2Cminor_violations%2Cmajor_violations%2Ccritical_violations%2Cblocker_violations%2Cviolations%2Cnew_violations%2Cncloc%2Ccoverage%2Cfalse_positive_issues&amp;includealerts=true&amp;verbose=true&amp;includetrends=true" />
    <add key="UrlApiIssuesSearch" value="/api/issues/search"/>  
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="freddylarag@gmail.com">
        <network host="smtp.gmail.com" port="587" userName="freddylarag@gmail.com" password="*********" enableSsl="true" defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>

</configuration>